@page "/"



<PageTitle>Index</PageTitle>

@if (_isLoggedIn)
{
    <h1>You are Logged In</h1>
    <button class="btn btn-danger" @onclick="LogOut">Log Out</button>
}
else
{
    <h1>Please Log In</h1>

    <EditForm Model="login" OnValidSubmit="HandleValidSubmit">
        <InputText @bind-Value="login.UserName" />
        <InputText type="password" @bind-Value="login.Password" />


        <button class="btn btn-success" type="submit">Log In</button>
    </EditForm>
}

